@media screen and (max-width: 950px) {
	.preVisualizador {
		.fila {
			.contPrev {
				.contenedorMedia {
					img {
						width: 350px;
						height: auto;
					}
				}
			}
		}
	}
	main {
		.contenedorPrincipal {
			width: 95%;
			.seccionDash {
				.fila {
					.menuDash {
						.contFormSubida {
							// width: 24%;
							max-width: 200px;
							min-width: 200px;
						}
					}
					.contenedorPanelDeArchivos {
						.contenedorArchivos {
							.contenedorPadding {
								width: 33%;
							}
						}
					}
					.progresoSubida {
						width: 26%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.preVisualizador {
		.fila {
			.contPrev {
				.contenedorMedia {
					img {
						width: 200px;
						height: auto;
					}
				}
			}
		}
	}
	main {
		.contenedorPrincipal {
			.seccionDash {
				.fila {
					.menuDash {
						width: 95%;
						margin: 0 auto;
						.contFormSubida {
							// width: 24%;
							min-width: 180px;
							max-width: 200px;
						}
					}
					.contenedorPanelDeArchivos {
						.contenedorArchivos {
							.contenedorPadding {
								width: 50%;
								padding: 0.4em;
							}
						}
					}
					.progresoSubida {
						width: 50%;
					}
				}
			}
		}
	}
}
