@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btnDes,
.btnEli {
  width: 90%;
  padding: 0.4em 0.6em;
  border-radius: 10px;
  color: white;
}

.btnDes {
  background: #6d72c3;
}

.btnEli {
  background: #c73434;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background: #ececec;
}

header {
  width: 100%;
  color: #6d72c3;
}
header .fila {
  width: 90%;
  padding: 2em 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .fila .columna {
  font-size: 1em;
}
header .fila .columna nav a {
  color: #414141;
}

main {
  width: 100%;
}
main .contenedorPrincipal {
  width: 90%;
  margin: 0 auto 1em auto;
}
main .contenedorPrincipal .seccionDash {
  border-radius: 20px;
  padding: 1em 0;
}
main .contenedorPrincipal .seccionDash .fila {
  width: 100%;
}
main .contenedorPrincipal .seccionDash .fila .columna {
  display: flex;
  flex-direction: row;
}
main .contenedorPrincipal .seccionDash .fila .menuDash {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
main .contenedorPrincipal .seccionDash .fila .menuDash h1 {
  font-size: 1.2em;
}
main .contenedorPrincipal .seccionDash .fila .menuDash .contFormSubida {
  width: 16%;
  max-width: 200px;
}
main .contenedorPrincipal .seccionDash .fila .menuDash .contFormSubida form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .contenedorPrincipal .seccionDash .fila .menuDash .contFormSubida form .btnCargar {
  position: relative;
  padding: 0.6em;
  border-radius: 10px;
  transition: background 0.5s ease;
}
main .contenedorPrincipal .seccionDash .fila .menuDash .contFormSubida form .btnCargar:hover {
  background: rgba(0, 0, 0, 0.075);
}
main .contenedorPrincipal .seccionDash .fila .menuDash .contFormSubida form .btnCargar .puntoRojo {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c73434;
  right: 6px;
}
main .contenedorPrincipal .seccionDash .fila .menuDash .contFormSubida form .btnCargar p {
  color: #6d72c3;
  font-weight: 900;
}
main .contenedorPrincipal .seccionDash .fila .menuDash .contFormSubida form .btnCargar .inpArchivo {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
main .contenedorPrincipal .seccionDash .fila .menuDash .contFormSubida form input[type=submit] {
  padding: 0.6em;
  font-size: 1em;
  font-weight: 900;
  border: none;
  background: #6d72c3;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.5s ease;
}
main .contenedorPrincipal .seccionDash .fila .menuDash .contFormSubida form input[type=submit]:hover {
  background: #4d5088;
}
main .contenedorPrincipal .seccionDash .fila .contenedorTabla {
  width: 100%;
  min-width: 620px;
}
main .contenedorPrincipal .seccionDash .fila .contenedorTabla table {
  width: 100%;
}
main .contenedorPrincipal .seccionDash .fila .contenedorTabla table tr td,
main .contenedorPrincipal .seccionDash .fila .contenedorTabla table tr th {
  padding: 1em;
  text-align: left;
}
main .contenedorPrincipal .seccionDash .fila .contenedorTabla table tr td {
  color: #414141;
  border-bottom: 2px solid #b8b8b8;
}
main .contenedorPrincipal .seccionDash .fila .contenedorTabla table tr .grande {
  width: 30%;
}
main .contenedorPrincipal .seccionDash .fila .contenedorTabla table tr .chico {
  width: 10%;
}
main .contenedorPrincipal .seccionDash .fila .contenidoEliminar {
  margin: 1em 0;
}
main .contenedorPrincipal .seccionDash .fila .contenidoEliminar .contenedorFormEliminar {
  display: flex;
  flex-direction: column;
}
main .contenedorPrincipal .seccionDash .fila .contenidoEliminar .contenedorFormEliminar h2,
main .contenedorPrincipal .seccionDash .fila .contenidoEliminar .contenedorFormEliminar p,
main .contenedorPrincipal .seccionDash .fila .contenidoEliminar .contenedorFormEliminar div {
  margin: 1em 0;
  color: #414141;
}
main .contenedorPrincipal .seccionDash .fila .contenidoEliminar .contenedorFormEliminar .contenedorBotones a:first-child {
  font-size: 1em;
  color: #414141;
}
main .contenedorPrincipal .seccionDash .fila .contenidoEliminar .contenedorFormEliminar .contenedorBotones a:last-child {
  padding: 0.6em;
  margin-left: 1em;
  font-size: 1em;
  font-weight: 900;
  border: none;
  background: #c73434;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.5s ease;
}
main .contenedorPrincipal .seccionDash .fila .contenidoEliminar .contenedorFormEliminar .contenedorBotones a:last-child:hover {
  background: #be5151;
}

footer {
  background: rgba(0, 0, 0, 0.507);
  bottom: 0px;
}
footer .fila {
  width: 100%;
  padding: 2em;
  text-align: center;
  color: white;
}

/*# sourceMappingURL=estilos.css.map */
